<h2>Dictionaries list</h2>

<ul>
	<li><a href="#" onclick="navigateTo('/dictionaries/assettypes');">Asset types dictionary</a></li>
	<li><a href="#" onclick="navigateTo('/dictionaries/attributetypes');">Attribute types dictionary</a></li>
	<li><a href="#" onclick="navigateTo('/dictionaries/units');">Units dictionary</a></li>
	<li><a href="#" onclick="navigateTo('/dictionaries/datatypes');">Data types dictionary</a></li>
</ul>

<ul>	
	<li><a href="#" onclick="navigateTo('/dictionaries/tools');">Tools dictionary</a></li>
	<li><a href="#" onclick="navigateTo('/dictionaries/applicationtypes');">Application types dictionary</a></li>
	<li><a href="#" onclick="navigateTo('/dictionaries/tagdomains');">Tag Domains</a></li>
	<li><a href="#" onclick="navigateTo('/dictionaries/userinterests');">User Interests</a></li>
</ul>
