<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div class="content" th:fragment="content">

		<h2>Error [[${status}]] - [[${error}]]</h2>
		<p>An error occurred, and we can't provide the information you expected. We apologize for the inconvenience.</p>
		<p>This unexpected error will be reported for analysis.</p>
		
		<ul>
			<li><strong>Timestamp</strong> [[${timestamp}]]</li>
			<li><strong>Status</strong> [[${status}]]</li>
			<li><strong>Error</strong> [[${error}]]</li>
			<li><strong>Message</strong> [[${message}]]</li>
			<li><strong>Path</strong> [[${path}]]</li>
		</ul>	
	</div>
</body>
</html>
