<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div class="content" th:fragment="content">
		<a href="/dictionaries/datatypes">&lt; Back to datatypes list</a>
		
		<h2>[[${element.name}]] datatype</h2>
		<div th:if="${message}" class="message">[[${message}]]</div>
		
		<strong>Urn</strong>: [[${element.urn}]]<br/>
		<strong>Name</strong>: [[${element.name}]]<br/>
		
		<p>Used by [[${usedBy.size()}]] unit[[((${usedBy.size()} != 1)? 's')]]</p>
		<ul th:if="${usedBy.size()}">
			<li th:each="e : ${usedBy}"><a th:href="'/dictionaries/units/' + ${e.name}">[[${e.name}]]</a></li>
		</ul>
		
		<div class="btnbar" th:if="${isDicoAdmin}">
			<a th:href="'/dictionaries/datatypes/' + ${element.name} + '/delete'" class='btn danger'>DELETE [[${element.name}]] datatype</a>			
		</div>
	</div>
</body>
</html>
