<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div class="content" th:fragment="content">
		<h2>Dictionaries list</h2>

		<ul>
			<li><a href="/dictionaries/assettypes">Asset types dictionary</a></li>
			<li><a href="/dictionaries/attributetypes">Attribute types dictionary</a></li>
			<li><a href="/dictionaries/units">Units dictionary</a></li>
			<li><a href="/dictionaries/datatypes">Data types dictionary</a></li>
		</ul>

		<ul>	
			<li><a href="/dictionaries/tools">Tools dictionary</a></li>
			<li><a href="/dictionaries/applicationtypes">Application types dictionary</a></li>
			<li><a href="/dictionaries/tagdomains">Tag Domains</a></li>
			<li><a href="/dictionaries/userinterests">User Interests</a></li>
		</ul>

	</div>
</body>
</html>
