<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div class="content" th:fragment="content">
		<a href="/experiments">&lt; Back to experiments list</a>
		
		<h2>Experiment details</h2>
		<strong>name</strong>: [[${exp.name}]]<br/>
		<strong>owner</strong>: [[${exp.mainExperimenterId}]]<br/>
		<strong>id</strong>: [[${exp.experimentId}]]<br/>
		<strong>description</strong>: [[${exp.description}]]<br/>
		<strong>status</strong>: [[${exp.status}]]<br/>
		<strong>registered</strong>: [[${exp.registered}]]<br/>
		<strong>startDate</strong>: [[${exp.startDate}]]<br/>
		<strong>endDate</strong>: [[${exp.endDate}]]<br/>
		<br/>

		<strong>Available quota</strong>: [[${exp.remQuota}]]/[[${exp.quota}]]<br/>
		<br/>
		
		<p>[[${experimenters.size()}]] experimenter[[((${experimenters.size()} != 1)? 's')]]</p>
		<ul th:if="${experimenters.size()}">
			<li th:each="experimenter : ${experimenters}">[[${experimenter}]]</li>
		</ul>
		<br/>
	
		<p>[[${datasources.size()}]] data source[[((${datasources.size()} != 1)? 's')]]</p>
		<ul th:if="${datasources.size()}">
			<li th:each="uri : ${datasources}">[[${uri}]]</li>
		</ul>
		
	</div>
</body>
</html>
