<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div class="content" th:fragment="content">
		
		<h2>Sites list</h2>
		
		<p>Federated city sites</p>
		<ul>
			<li th:each="e : ${elements}"  th:if="${e.isCity()}"><span th:replace="fragments/link::link (dest='/sites/' + ${e.name},text=${e.name})"></span></li>
		</ul>

		<p>Experimentation sites</p>
		<ul>
			<li th:each="e : ${elements}"  th:if="not ${e.isCity()}"><span th:replace="fragments/link::link (dest='/sites/' + ${e.name},text=${e.name})"></span></li>
		</ul>

	</div>
</body>
</html>
