<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div class="content" th:fragment="content">
		<a href="/sites">&lt; Back to site list</a>
		<div th:if="${message}" class="message">[[${message}]]</div>

		
		<h2><span id="elementname">[[${element.name}]]</span> site</h2>
		<strong>Urn</strong>: [[${element.urn}]]<br/>
			
		<form class="editmode" th:if="${isManagerOrAdmin}">
		  <div class="line">
		    <label for="email">Email</label>
		    <input id="email" th:value="${element.email}">
		  </div>
		  <div class="line">
		    <label for="related">Related</label>
		    <input id="related" th:value="${element.related}">
		  </div>
		</form>
		
		<div class="displaymode">
			<strong>Email</strong>: [[${element.email}]]<br/>
			<strong>Related</strong>: [[${element.related}]]<br/>
		</div>

		<strong>latitude</strong>: [[${element.latitude}]]<br/>
		<strong>longitude</strong>: [[${element.longitude}]]<br/>
		<strong>city</strong>: [[${element.city}]]<br/>
		<strong>region</strong>: [[${element.region}]]<br/>
		<strong>countryCode</strong>: [[${element.countryCode}]]<br/>
		<strong>country</strong>: [[${element.country}]]<br/>
		<strong>wiki</strong>: <a th:href="${element.wiki}">[[${element.wiki}]]</a><br/>
		
		<strong>Created</strong>: [[${element.created}]]<br/>
		<strong>Updated</strong>: [[${element.updated}]]<br/>
		<strong>Quota</strong>: [[${element.remQuota}]]/[[${element.quota}]]<br/>
		
		<div class="btnbar editmode" th:if="${isManagerOrAdmin}">
			<a href="#" class="btn validate" onclick="updateSite(document.getElementById('elementname').innerHTML,document.getElementById('email').value,document.getElementById('related').value);">UPDATE [[${element.name}]] site</a>						
		</div>	
		<p class="displaymode" th:if="${isManagerOrAdmin}"><a href="#" class="btn validate" onclick="activateEditMode();">activate edit mode</a></p>
		
		
		<h2>[[${element.name}]] services</h2>		
		<p>[[${services.size()}]] service[[((${services.size()} != 1)? 's')]]</p>
		<ul th:if="${services.size()}">
			<li th:each="e : ${services}"><a th:href="'/sites/' + ${element.name} + '/' + ${e.name}">[[${e.name}]]</a></li>
		</ul>

		
		<div th:if="${isManagerOrAdmin}">
		<h2>[[${element.name}]] managers</h2>
		<p>[[${managers.size()}]] manager[[((${managers.size()} != 1)? 's')]]</p>
		<ul th:if="${managers.size()}">
			<li th:if="${isAdmin}" th:each="manager : ${managers}"><a th:href="'/roles/' + ${manager.value0}">[[${manager.value1}]]</a></li>
			<li th:if="not ${isAdmin}" th:each="manager : ${managers}">[[${manager.value1}]]</li>
		</ul>
		</div>
		<p th:if="${isAdmin}"><a href="/roles">Add managers</a></p>


		<div th:if="${isManagerOrAdmin}">
		<h2>[[${element.name}]] credentials</h2>
		<ul>
			<li>Client ID: [[${client.client_id}]]</li>
			<li>Client sub: [[${client.sub}]]</li>
			<li>Client secret: [[${client.secret}]]</li>
		</ul>
		</div>

		
		<div th:if="${isManagerOrAdmin}">
		<h2>New Service</h2>
		<p>To add a new entity, please fill the following form</p>
		<form>
		  <div class="line">
		    <label for="srvname">Name</label>
		    <input id="srvname" value="">
		  </div>
		  <div class="line">
		    <label for="srvdescription">Description</label>
		    <input id="srvdescription" value="">
		  </div>
		  <div class="line">
		    <label for="srvrelated">Related</label>
		    <input id="srvrelated" value="">
		  </div>
		<div class="btnbar">
		  <a href="#" class="btn validate" onclick="newService(document.getElementById('elementname').innerHTML, document.getElementById('srvname').value,document.getElementById('srvdescription').value,document.getElementById('srvrelated').value);">CREATE service</a>
		</div>
		</form>
		</div>
	</div>
</body>
</html>
