<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div class="content" th:fragment="content">
		
		<h2>Roles details for [[${user.name}]]</h2>		
		<p th:if="${message}" class="message"><strong>[[${message}]]</strong></p>
		
		<div th:each="role : ${allRoles}">		
			<div th:if="${#lists.contains(displayedUserRoles, role)}" th:remove="tag">
				<span  class="rolename" style="color:green">[[${role.role}]]</span>
				<span  class="rolecolumn">
					<a th:href="'/roles/' + ${user.id} + '/removerole/' + ${role.role}">revoke permission</a>
				</span>
				<br/>
			</div>
			<div th:if="not ${#lists.contains(displayedUserRoles, role)}" th:remove="tag">
				<span  class="rolename" style="color:red">[[${role.role}]]</span>
				<span  class="rolecolumn">
					<a th:href="'/roles/' + ${user.id} + '/addrole/' + ${role.role}">add permission</a>
				</span>
				<br/>
			</div>
		</div>
	</div>
</body>
</html>

